/**
 * FIL Brand colours
 * Note: 1 = Darkest of palette
 */
$orange1: #F26730;
$orange2: #E57725;
$orange3: #FF8D31;
$blue1: #006193;
$blue2: #016FAD;
$blue3: #00A6E0;
$blue4: #EAF2F6;
$green1: #339900;
$green2: #91CC9B;
$red1: #CC3333;
$red2: #E78E91;
$yellow1: #F0D202;
$yellow2: #FFFDF3;
$fidelity-blue: $blue1;
$fidelity-red: #B72F2A;


/**
 * The Grey array
 * Note: 85 = darkest of the palette
 */
$grey85: #262626;
$grey60: #666666;
$grey25: #BFBFBF;
$grey15: #D9D9D9;
$grey3: #F7F7F7;


/**
 * FIL Funds Network colours
 */
$FNW-grey1: #3E4552;
$FNW-grey2: #515B6B;
$FNW-grey3: #606B7E;
$FNW-grey4: #868F9E;


/**
 * FIL Charting Colours
 * Note: charting colours are named in the order they should be used
 */
$chart1: #024A7A;
$chart2: #1DADE2;
$chart3: #6F9824;
$chart4: #FFCD00;
$chart5: #DE5E06;
$chart6: #9E5DCF;
$chart7: #6893B0;
$chart8: #011E31;
$chart9: #757A02;
$chart10: #CFD636;
$chart11: #FB9914;
$chart12: #7F05A2;
$chart13: #78CEEE;
$chart14: #0C465B;
$chart15: #A9C27C;
$chart16: #435C16;
$chart17: #653E08;
$chart18: #C578FF;