@import "../styles/settings";
@import "../styles/dividers";
@import "../styles/elements";
@import "../styles/spinners";

.reload {
  position: fixed;
  bottom: 10px;
  right: 10px;
}


.left-navigation-bar {
  flex: 0 0 $navigation-width;
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  z-index: 500;
}

.page-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-50px)
}

#application {
  display: flex;
  flex-direction: row;

  &.entering {
    .left-navigation-bar {
      transform: translateX(0)
    }

    .page-body {
      opacity: 1;
      transform: translateY(0)
    }
  }

  &.entered {
    .left-navigation-bar {
      transform: translateX(0)
    }

    .page-body {
      opacity: 1;
      transform: translateY(0)
    }
  }
}

.page-content {
  flex: 1;
  padding: $body-padding;
}

.loading {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 10000;

  .spinner, .loading-message {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
  }

  .spinner {
    transform: translateY(-20px);
  }

  .loading-message {
    transform: translateY(20px);
  }

  &-entering {
    opacity: 1;

    .spinner, .loading-message {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-entered {
    opacity: 1;

    .spinner, .loading-message {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-exiting {
    opacity: 0;

    .spinner {
      opacity: 1;
    }

    .loading-message {
      opacity: 1;
    }
  }

  &-exited {
    opacity: 0;
    display: none;

    .spinner {
      opacity: 1;
    }

    .loading-message {
      opacity: 1;
    }
  }
}