<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway:200,400,700">

    <!-- base url -->
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>

<body class="<%= htmlWebpackPlugin.options.environment %>">

<div id="react-root"></div>

<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>

</body>
</html>
