@import "~foundation-sites/scss/foundation";

@include foundation-everything();

html, body {
  margin: 0;
  padding: 0;
}

html, body, #react-root, #application, .app-wrapper {
  height: 100%;
}

body {
  background: #0f4583 url(https://www.fifa.com/assets/img/tournaments/17/2018/common/fwc_darkbluebg.png) repeat;
  color: white;
  font-family: "Lato", Arial, sans-serif;
}

h1 {
  font-family: "Raleway", Arial, sans-serif;
}

input {
  margin: 0;
}